@model pinterest_board_aspdotnet.Models.Board

<h2>Create Board</h2>
<form asp-action="Create" method="post">
    <div>
        <label asp-for="Name">Enter Board Name</label> 
        <input asp-for="Name" type="text" />
        <label asp-for="Description">Enter Board Description</label> 
        <input asp-for="Description" type="text" />
        <label asp-for="Id">Enter ID</label> 
        <input asp-for="Id" type="number" />
        <button type="submit">Create board</button>
    </div>
</form>