@model pinterest_board_aspdotnet.Models.Board

<h2>Delete a board</h2>
<form asp-action="Delete" method="post">
    <div>
        <label asp-for="Id">Enter board ID to delete</label>
        <input asp-for="Id" type="number"/>
        <button type="submit">Delete</button>
    </div>
</form>